<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mssqldemoback.mapper.TeacherCourseMapper">

    <select id="getTeacherCourseVo"
            resultType="com.example.mssqldemoback.vo.TeacherCourseVo">
        select *
        from teacher_course tc
                 inner join course c on c.id = tc.course_id
        where teacher_id = #{teacherId}
    </select>
</mapper>
